<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Stylesheets -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/main.css') }}" />
    {% block custom_style %}{% endblock %}

    <!--- My meta tags -->
    <meta name="author" content="Marvin Tensuan" />
    <meta name="description" content={% block meta_desc %}{% endblock %} />
    <meta name="keywords" content={% block meta_keywords %}{% endblock %} />

    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <header class="banner-like">Marvin Tensuan | Portfolio</header>
    {% block container %}{% endblock %}
    <footer class="container banner-like">Made by Yours Truly. ;) Hosted on GCP.</footer>
  </body>
</html>
