{% extends 'base.html' %}
{% block meta_desc %}"Marvin Tensuan's Portfolio Website"{% endblock %}
{% block meta_keywords %}"Marvin Tensuan, python developer, accountant, portfolio"{% endblock %}
  <meta property="og:title" content="Marvin Tensuan" />
  <meta property="og:description" content="Marvin Tensuan's Portfolio Website" />
  <meta property="og:url" content="https://www.marvintensuan.com/" />
  <meta property="og:locale" content="en_PH" />
  <meta property="twitter:title" content="Marvin Tensuan" />
  <meta property="twitter:description" content="Marvin Tensuan's Portfolio Website" />
{% block custom_style %}
  <style>
    .blinking-cursor {
      animation: blink 1s step-end infinite
    }

    @keyframes blink {
      from, to {
        color: transparent;
      }

      50% {
        color: var(--text);
      }
    }

    p.options {
        border: 1px dashed;
        padding: 10px;
        max-width: 75%;
        align-self: center;
        margin: 15px auto;
    }

    p.options:hover {
        background-color: var(--color-primary);
        color: var(--text-hover);
    }
    .options > a {
      text-decoration: none;
      color: var(--text);
    }

    .options > a:hover {
      color: var(--text-hover);
    }

  </style>
{% endblock %}
{% block title %}Marvin Tensuan{% endblock %}
{% block container %}
  <div id="app" class="container">
    <h1 class="title">Hi! I'm Marvin.</h1>
    <p>Financial Analyst. Welcome to my landing page...<span class="blinking-cursor">|</span></p>
    <p class="options"><a href="https://www.linkedin.com/in/marvintensuan/">LinkedIn</a></p>
    <p class="options"><a href="https://github.com/marvintensuan">GitHub Profile</a></p>
    <p class="options"><a href="https://marvintensuan.github.io/">GitHub Pages</a></p>
    <p class="options"><a href="https://twitter.com/marvintensuan">Twitter</a></p>
    <p class="options"><a href="https://dev.to/marvintensuan">Dev.to</a></p>

    <p>I am an accountant in the banking industry.</p>
    <p>
      I do data analysis and visualizations. I also deal with data modeling
      and dashboarding with other proprietary software. I'm also no stranger
      with web technologies for both server-side and client-side.
    </p>
    <br />
  </div>
{% endblock %}