{% extends 'base.html' %}
{% block custom_style %}
<style>
  p.options {
      border: 1px dashed;
      padding: 10px;
      max-width: 75%;
      align-self: center;
      margin: 15px auto;
  }

  p.options:hover {
      background-color: var(--color-primary);
      color: var(--text-hover);
  }
</style>
{% endblock %}
{% block meta_desc %}"Marvin Tensuan's Portfolio Website"{% endblock %}
{% block meta_keywords %}"Marvin Tensuan, python developer, accountant, portfolio"{% endblock %}
{% block title %}Marvin Tensuan{% endblock %}
{% block container %}
  <div id="app" class="container">
    <h1 class="title">Hi! I'm Marvin. :)</h1>
    <p>Financial Analyst. Python Dev.</p>
    <p>This site is WIP :(</p>
    <p class="options">LinkedIn</p>
    <p class="options">Dev.to</p>
    <p class="options">Twitter</p>
    <p class="options">GitHub Profile</p>
    <p class="options">GitHub Pages</p>
    <p class="options">Substack (coming soon)</p>

    <p>Python 🐍 is the core of my tech stack.</p>
    <p>
      I do data analysis and visualizations. I also deal with data modeling
      and dashboarding with other proprietary software. I'm also no stranger
      with web technologies for both server-side and client-side.
    </p>
    <br />
  </div>
{% endblock %}