{% extends 'base.html' %}
{% block structured_data %}
    <script type="application/ld+json">
    {
      "@context": "https://schema.org/",
      "@type": "BlogPosting",
      "name": "Introductions",
      "author": {
        "@type": "Person",
        "name": "Marvin Tensuan"
      },
      "description": "Marvin Tensuan's document to serve in lieu of his lack of introductory skills. Covers topics such as interest in technology, music, and much more!",
      "datePublished": "2023-08-20",
      "dateModified": "2023-08-24"
    }
    </script>
{% endblock %}
{% block meta_desc %}
"Marvin Tensuan's document to serve in lieu of his lack of introductory skills.
Covers topics such as interest in technology, music, and much more!"
{% endblock %}
{% block meta_keywords %}"Marvin Tensuan, blog, about"{% endblock %}
{% block custom_style%}

  <style>
    p {
      text-align: justify;
    }

    details {
      text-align: left;
    }

    li {
      text-align: left;
    }

    #app > h1 , h2, h3 {
      text-align: left;
    }

  </style>
{% endblock %}
{% block title %}Introductions | Marvin Tensuan{% endblock %}
{% block container %}
  <div id="app" class="container">
    <h1>Introductions</h1>
    <p>
      Introductions are hard. Like, what part of you do you want to share with other people? Is it even shareable?
      Who even is interested? Are they interested? Who knows? Here is an HTML page for mine.
    </p>
    <h2>Hi!, I'm Marvin</h2>
    <p>
      I was born in 1997. That's pretty much the current year + 3.
      You're only gonna be wrong 24 days a year, or if you're past the year 2099. 
    </p>
    <p>
      Stuff here are meant to spark conversations, not replace them.
    </p>
    <p>
      Also, did you catch my surname? Do you think it's a Pinoy surname or do you just not mind?
      Regardless, to set everyone's expectations, <span lang="zh-Hans">我不会说中文。</span>
    </p>
    <h2>FORD</h2>
    <h3>Family</h3>
    <p>Let's not.</p>
    <p>I'm single tho.</p>
    <h3>Occupation</h3>
    <p>
      I am a... BS Accountancy graduate.
      3 years at Deutsche Bank. Almost 2 years at Citi. Currently at ANZ Bank.
      I have a <a href="https://www.linkedin.com/in/marvintensuan/">LinkedIn</a>.
    </p>
    <h3>Recreation</h3>
    <p>What recreation? Jk.</p>
    <h3>Dreams</h3>
    <p>This site has a <a href="/lifegoals">lifegoals</a> page</p>
    <h2>Tech</h2>
    <p>
      Yes, I created this site. It is a Flask app deployed via Google Cloud Run.
      For some reason, I also love writing HTML by hand.
    </p>
    <p>
      No, I will probably not fix your printer.
      But I am willing to disassemble it... often leading to it being fixed.
    </p>
    <h2>Anime</h2>
    <p>
      I do watch anime, but only the mainstream ones. I do not have a MyAnimeList profile
      but here are some of the ones I've watched:
      <details>
        <summary>List of Animes I've Liked</summary>
        <ul>
          <li>Dragon Ball Z Kai and Super</li>
          <li>Attack on Titan</li>
          <li>JoJo's Bizarre Adventure</li>
          <li>Naruto (without fillers)</li>
          <li>One Punch Man</li>
          <li>Death Note</li>
          <li>Steins;Gate</li>
          <li>Full Metal Alchemist: Brotherhood</li>
        </ul>
      </details>
    </p>
    <p>I don't remember some of these due to passage of time.</p>
    <p>
      I don't actually watch anime anymore, mainly because I do not have the time.
      I would have been willing to just listen to it at background but
      (1) I also do not have time for that, and (2) I don't understand Japanese.
    </p>
    <h2>Series and TV Shows</h2>
    <p>
      I have watched three sitcoms: Friends, The Big Bang Theory, and Seinfeld. Don't quiz me though.
    </p>
    <p>
      Series I've watched: Game of Thrones (wish I hadn't), Stranger Things, Breaking Bad.
      I do not have Amazon Prime and HBO; don't recommend exclusives.
      Actually, don't recommend at all. I probably do not have the energy.
    </p> 
    <h2>Movies and Movie Franchises</h2>
    <p>I like movie theaters. I do watch alone but I wish I don't have to since CR breaks are hard.</p>
    <p>
      MCU - kinda got invested since Phase 3. I think Infinity War > Endgame but the portals scene
      just takes the cake in terms of rewatchability. I've watched some of the Disney Plus shows as well.
    </p>
    <p>Star Wars - I've watched all trilogies, Rogue One, and Solo. Can't find time to watch the D+ series.</p>
    <h2>Fun facts</h2>
    <p>We had this "Fun Facts About You" which is apparently harder than it sounds.</p>
    <ul>
      <li>I cannot whistle.</li>
      <li>I am allergic to ibuprofen.</li>
      <li>That dark thing at the left side of my neck is a skin eruption thing.</li>
    </ul>
    <h2>Music</h2>
    <p>I will let you guess based on below data:</p>
    <p>Spotify Top Song of 2018: TWICE - What is Love?</p>
    <p>Spotify Top Songs of 2019:</p>
    <ol>
      <li>K/DA - POP/STARS</li>
      <li>TWICE - What is Love?</li>
      <li>Fall Out Boy - Wilson (Expensive Mistakes)</li>
      <li>TWICE - Heart Shaker</li>
      <li>TWICE - YES or YES</li> 
    </ol>
    <p>Spotify Top Songs of 2020</p>
    <ol>
      <li>K/DA - THE BADDEST</li>
      <li>Lady Gaga, BLACKPINK - Sour Candy</li>
      <li>Lady Gaga - Chromatica II</li>
      <li>Lady Gaga, Ariana Grande - Rain on Me</li>
      <li>Lady Gaga - 911</li>
    </ol>
    <p>Spotify Top Songs of 2021</p>
    <ol>
      <li>TWICE - Alcohol-Free</li>
      <li>TWICE - First Time</li>
      <li>TWICE - The Feels</li>
      <li>TWICE - Scandal</li>
      <li>TWICE - Conversation</li>
    </ol>
    <p>Spotify Top Songs of 2022</p>
    <ol>
      <li>Taylor Swift - Babe</li>
      <li>Taylor Swift - All Too Well (10 Minute Version)</li>
      <li>Lady Gaga, Tony Benett - Dream Dancing</li>
      <li>NAYEON, MOMO, CHAEYOUNG - HELLO</li>
      <li>Taylor Swift - Run</li>
    </ol>
    <p>Ofc there's a lot it doesn't capture. 😉</p>
    <h2>Food</h2>
    <p>I do not eat rice. Haven't since 2020. Yes, I am still fat despite that.</p>
    <h2>Others</h2>
    <p>Oxford Comma enjoyer.</p>
    <p>Pichi pichi with cheese > with niyog.</p>
    <p>If something happened between years 2013 and 2017, I probably cannot remember it.</p>
  </div>
{% endblock %}