{% extends 'base.html' %}
{% block meta_desc %}"Marvin Tensuan's list of life goals."{% endblock %}
{% block meta_keywords %}"Marvin Tensuan, blog, lifestyle"{% endblock %}
{% block custom_style%}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Noto+Sans+Math&display=swap" rel="stylesheet">
{% endblock %}
{% block title %}Life Goals | Marvin Tensuan{% endblock %}
{% block container %}
  <div id="app" class="container">
    <h1>Life Goals</h1>
    <p>Sometimes I lose sight of my life goals so here's a place for reminder.</p>
    <ul style="font-family: 'Caveat', cursive; text-align: left; font-size: 150%;">
      <li>Moving Out</li>
      <li>Life Savings</li>
      <li>Designer Perfumes</li>
      <li>A $1000 Watch</li>
      <li>Dress shoes</li>
      <li>Build my own PC.</li>
      <li>Vehicle</li>
      <li>Family Home</li>
      <li>Cemetery Lot</li>
    </ul>
  </div>
{% endblock %}