{% extends 'base.html' %}
{% block meta_desc %}
"List of Continuing Professional Development (CPD) units taken by Marvin D. Tensuan.
Marvin is a Certified Public Accountant (CPA) in the Philippines in private practice.
"
{% endblock %}
{% block meta_keywords %}
"Marvin Tensuan, accountant, CPA, CPD, Continuing Professional Development,
Continuing Professional Education, PICPA, Philippine Institute of Certified Public Accountants"
{% endblock %}
{% block title %}List of CPDs{% endblock %}
{% block container %}
    <script>
        $(".nav-link").eq(1).addClass("active")
    </script>
    <section class="jumbotron" style="background-color: #d3d3d3;">
        <div class="container">
            <h1>Continuing Professional Development</h1>
        <p>Professional Competence is one of the fundamental principles of ethics in the accounting profession.
        I take it onto myself to attain and maintain the level of competence expected off of me.</p>
        </div>
    </section>

    <section class="page-header" style="margin: auto auto auto 1%;">
        <h1>For Years 2018 to 2020</h1>
    </section>

    <section class="container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Thematic</th>
                    <th>Units</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
            {% for cpd in context_cpd %}
            <tr>
                <td style='max-width: 240px;'>{{ cpd['name'] }}</td>
                <td>{{ cpd['thematic'] }}</td>
                <td>{{ cpd['units'] }}</td>
                <td>{{ cpd['cpd_date'] }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}