{% extends 'base.html' %}
{% block meta_desc %}
"List of Self-Directed Learning Initiatives taken by Marvin D. Tensuan.
Marvin is a Certified Public Accountant (CPA) in the Philippines in private practice.
"
{% endblock %}
{% block meta_keywords %}
"Marvin Tensuan, accountant, CPA, CPD, Continuing Professional Development,
Continuing Professional Education, self-directed learning"
{% endblock %}
{% block title %}Self-Directed Learning{% endblock %}
{% block container %}
    <script>
		$(".nav-link").eq(1).addClass("active")
	</script>

    <section class="jumbotron" style="background-color: #d3d3d3;">
        <div class="container">
            <h1>Self-Directed Learning</h1>
        <p>My passion for learning goes way beyond compliance.
            Below are some opportunities I took to make myself a better professional.
        </p>
        </div>
    </section>

    <!--- WEBINARS -->
    <div class="page-header" style="margin: auto auto auto 5%;">
        <h1>Webinars</h1>
    </div>
    <section class="container" style="margin: auto 10% auto 5%;">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th >Name</th>
                    <th>Organizer</th>
                    <th>Date</th>
                    <th>Remarks</th>
                </tr>
            </thead>
            <tbody>
                {% for webinar in context_sdl['webinars'] %}
                <tr>
                    <td style='max-width: 240px;'>{{ webinar['webinar_name'] }}</td>
                    <td>{{ webinar['organizer'] }}</td>
                    <td>{{ webinar['webinar_date'] }}</td>
                    {% if webinar['html_desc'] is None %}
                    <td></td>
                    {% else %}
                    <td style='max-width: 240px;'>{{ webinar['html_desc'] | safe }}</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </section>

    <!--- ONLINE COURSES -->
    <div class="page-header" style="margin: auto auto auto 5%;">
        <h1>Online Courses</h1>
    </div>
    <section class="container" style="margin: auto 10% auto 5%;">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Course Facilitator</th>
                    <th>Date Completed</th>
                    <th>Certificate</th>
                </tr>
            </thead>
            <tbody>
                {% for course in context_sdl['online_courses'] %}
                <tr>
                    <td>{{ course['course_name'] }}</td>
                    <td>{{ course['facilitator'] }}</td>
                    <td>{{ course['onlinecourse_date_completed'] }}</td>
                    <td><a href="{{ course['link_to_certificate'] }}">Link to certificate.</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}